<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%= title %></title>
    </head>
    <body>
        <h1 style="font-weight: bold">Hi, <%= message %>! Ready to make a server?</h1>
        <div id="wrapButtons">
            <div id="buttons">
                <form action="/" method="POST">
                    <button type="submit">Home</button>
                </form>
                <form action="/create" method="POST">
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div id="main" class="main">
            <strong class="green">ONLINE: </strong><weak id="online"><%= online %></weak>
            <br>
            <br>
            <strong class="blue">USERS: </strong><weak><%= online %></weak>
        </div>
    </body>
    <script src="../src/create.js"></script>
</html>