<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>
  <body>
    <fieldset><Legend>hthe hGaaame</Legend>
       <div id="game">
        </div>
      <script src="../src/app.bundle.js"></script></fieldset>
      <form action="/" method="GET">
        <button type="submit">Home</button>
    </form>
</body>
</html>