<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
        <title><%= title %></title>
    </head>
    <body>
        <h1>Login</h1>
        <%= messages.flash %>
        <form action="/login" method="post">
            <div>
                <label>username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>password:</label>
                <input type="password" name="password"/>
                <p style="color: #d00; font-style: bolder">(CAUTION: Your password is not protected. Use a fun one ^_^)</p>
            </div>
            <div>
                <input type="submit" value="log in"/>
            </div>
        </form>
        <a href="/register" method="GET">register</button>
    </body>
</html>