<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
        <title><%= title %></title>
    </head>
    <body>

        <h1>Howdy, stranger. Let's get ya logged in.</h1>
        <pre id="error" class=><h1 id='fader'><%= message %></h1></pre>
        <fieldset><legend>login</legend>
            <form action="/login" method="post">
        <div class=><!--wrapper-->
            <div class="col-cont">
                <div class="col0">
                    <div class="input-tag">
                        <label>username:</label>
                    </div>
                    <div class="input-tag">
                        <label>password:</label>
                    </div>
                </div>
                <div class="col1">
                    <div>
                        <input type="text" name="username"/>
                    </div>
                    <div>
                        <input type="password" name="password"/>
                        
                    </div>
                </div>
             
               
              
            </div>       
            <input type="submit" value="log in"/> 
        </div> 
          

            </form>
        
        </fieldset>
        <div class="outerButton">
            <a href="/register" method="GET">register</a>
        </div>

    </body>
    <script src="../src/login.js"></script>
</html>