<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
        <title><%= title %></title>
        <script src="jquery-3.5.1.js"></script>
    </head>
    <body>
        <h1 style="font-weight: bold">Hey, <strong class="uname"><%= message %></strong>!</h1>
        <pre id="notify" class style="padding-right: 100px; font-size: large;"><h1 id="fader">The Operator</h1></pre>
        <fieldset id="global"><legend>Characters</legend>
         
            <div id="blueScreen">
                <p id="p0"></p>
                <div id="blueScreenTextWrapper"></div>
                

            </div>
            <div id="wrapButtons">
                <div class="left">
                    <a class="right" href="/newChar" method="GET">New Character</a>
                </div>
                <div class="right">
                    <a class="left" href="/newParty" method="GET">New Party</a>
                </div>                
                
            </div>
        </fieldset>
        <br>
        <br>
        <br>
        <div id="main" class="main">
            <strong class="green">ONLINE:</strong> <%= online %>
        </div>
        <a style="padding-left: 500px" href="/upload" method="GET">upload</a>
        <br>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </body>
    <script src="../src/main.js"></script>
    <script src="../src/global.js"></script>
</html>