<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
        <title><%= title %></title>
    </head>
    <body>
        <h1 style="font-weight: bold">Hi, <strong class="uname"><%= message %></strong>!</h1>
        <fieldset><legend>Characters</legend>nads</fieldset>
        <div id="wrapButtons">
            <div id="buttons">
                <form action="/newChar" method="GET">
                    <button type="submit">New Character</button>
                </form>
                <form action="/newParty" method="GET">
                    <button type="submit">New Party</button>
                </form>
                <form action="/join" method="GET">
                    <button type="submit">Join Party</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div id="main" class="main">
            <strong class="green">ONLINE:</strong> <%= online %>
        </div>
        <br>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </body>
    <script src="../src/promise.js"></script>
</html>