<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
        <title><%= title %></title>
    </head>
    <body>
        <h1>Ok <strong class="uname"><%= message %></strong>, let's make a new party:</h1>
        <pre id="notify" class><h1 id="fader"> </h1></pre>
        <form action="/newChar" method="POST" class="selectFriends" id="selectFriends">
            <fieldset id="global"> <legend>Choose Races</legend>
        
                    <div id="blueScreen">
                    <!--p id="p0"></p-->
                    <div id="newChar">
                    </div>
                    <!--img class="char" src="al.png">
                    <img class="char" src="phil.png">
                    <img class="char" src="belding.png">
                    <img class="char" src="tim.png"-->
                </div>
             
                <button type="submit">New</button>
            </fieldset>
        </form>
        <br>
        <br>
        <br>
        <form action="/" method="GET">
            <button type="submit">Home</button>
        </form>
    </body>
    <script src="../src/newChar.js"></script>
    <script src="../src/global.js"></script>
</html>