<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
        <title><%= title %></title>
    </head>
    <body>
        <h1 style="font-weight: bold">Ok <strong class="uname"><%= message %></strong>, let's make a new character:</h1>
        <form action="/newChar" method="POST" class="selectFriends" id="selectFriends">
            <fieldset> <legend>Choose Race</legend>
                <div id="newChar">
                    

                </div>
                <br><br><br><br><br>
                <button type="submit">New</button>
            </fieldset>
        </form>
        <br>
        <br>
        <br>
        <form action="/" method="GET">
            <button type="submit">Home</button>
        </form>
    </body>
    <script src="../src/newChar.js"></script>
</html>