<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%= title %></title>
    </head>
    <body>
        <h1 style="font-weight: bold">Ok <strong class="uname"><%= message %></strong>, let's make a new character:</h1>
        <form action="/newChar" method="POST" class="selectFriends" id="selectFriends">
            <fieldset> <legend>Choose Race</legend>
                <div id="newChar">
                    
                        <!--input type="checkbox" id="charSel1" style="display: ">
                        <label for="charSel1"><img src="img/megaman.png"></label>
                        <input type="checkbox" id="charSel2" style="display: none">
                        <label for="charSel1"><img src="img/mario.png"></label>
                        <input type="checkbox" id="charSel3" style="display: none">
                        <label for="charSel1"><img src="img/whitemage.png"></label>
                        <input id="selections" hidden="true" value-->
                </div>
                <br><br><br><br><br>
                <button type="submit">New</button>
            </fieldset>
        </form>
        <br>
        <br>
        <br>
        <form action="/" method="GET">
            <button type="submit">Home</button>
        </form>
    </body>
    <script src="../src/newChar.js"></script>
</html>