<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
        <script src="jquery-3.5.1.js"></script>
        <title><%= title %></title>
    </head>
    <body>
        <h1 style="font-weight: bold">Ok <strong class="uname"><%= message %></strong>, please select file to upload</h1>
        <pre id="notify" class><h1 id="fader"> </h1></pre>
        <form class="upload" id="upload" action="/#">
            <fieldset id="global"> <legend>Select File</legend>
                <!--div id="blueScreen"-->
                    <p id="p0"></p>
                    <div id="upload">
                        <input type="file" id="inputfile"><!--add the "multiple" option at the end: multiple>-->
                        <div id="preview"></div>
                        
                    </div>
              
                    <button id="subbut">Upload File</a>
                <!--button type="submit" id="subbut">Upload</button-->
                    <!--/div-->
            </fieldset>
        </form>
        <div class="controls">
            <input class="xhr success" type="button" name="xhr" value="Click to start XHR (success)" />
            <input class="xhr error" type="button" name="xhr" value="Click to start XHR (error)" />
            <input class="xhr abort" type="button" name="xhr" value="Click to start XHR (abort)" />
        </div>
        
        <textarea readonly class="event-log"></textarea>
        <br>
        <br>
        <br>
        <div id="main" class="main">
            <strong class="green">ONLINE: </strong><weak id="online"><%= online %></weak>
        </div>
        <br>
        <form action="/myChar" method="GET">
            <button type="submit">myChar</button>
        </form>
        <form action="/" method="GET">
            <button type="submit">Home</button>
        </form>

    </body>
    <script src="../src/upload.js"></script>
    <script src="../src/global.js"></script>
</html>